.cards {
  .card-item {
    padding: 50px 30px;
    box-shadow: -2px 2px 20px 0px #00000010;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

    .card-info {
      margin-top: 30px;

      h3 {
        font-size: 1.3rem;
        margin-bottom: 20px;
      }

      p {
        font-style: 0.9rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: $grayishBlue;
      }
    }
  }
}

.cta-card {
  display: flex;
  padding: 50px 0;
  .card {
    width: 100%;
    padding: 30px;
    text-align: center;
    box-shadow: -2px 2px 20px 0px #00000010;
    background-color: #fff;
    border-radius: 10px;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 30px;
    }
  }
}
