@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
}

.cta {
  padding: 10px 45px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 0.9rem;
  background-color: $pink;
  color: #fff;
  box-shadow: -2px 2px 20px 0px #0000001f;
}
